@font-face {
  font-family: 'SF-Pro-Text';
  src:
  url('../font/SF-Pro-Text-Regular.woff2') format('woff2'),
  url('../font/SF-Pro-Text-Bold.woff2') format('woff2'),
  url('../font/SF-Pro-Text-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'PingFang-TC';
  src: url('../font/PingFangRegular.woff2') format('woff2');
}

.PingFangTC{
  font-family: 'PingFang-TC'
}
.SFProText{
  font-family: 'SF-Pro-Text';
}
.white-outline-btn{
  border-radius: 30px; 
  width: 350px; 
  height: 60px; 
  border: 2px solid white;
}
.object-fit-cover{
  object-fit: cover;
}
.object-position-left{
  object-position: left;
}
.object-position-top{
  object-position: top;
}
.rounded-60{
  border-radius: 60px;
}
.navbar-nav li{
  background: #707070;
}
.navbar-nav li a{
  color: white;
}

.banner{
  height: 480px;
  background-image: url('https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;
}
.intro .pic{
  height: 350px;
  width: 345px;
}

.intro .longImg{
  height: 680px;
  width: 345px;
}
.shopping{
  background-color: #E0E0E0;
}
.shoppingItem{
  height: 350px;
  object-fit:cover;
}
.shoppingItem p{
  line-height: 350px;
}
.bottleImg{
  height: 520px;
}
.mask{
  background-color: rgba(0, 0, 0, .3); 
  width: calc(100% - 24px);
}
// 電腦
@include media-breakpoint-up(lg) {
  .navbar-nav li{
    background: white;
  }
  .navbar-nav li a{
    color: #8D8D8D;
  }
  .banner{
    height: 870px; 
  }
  .intro .pic{
    height: 555px;
    width: 555px;
  }

  .container{
    max-width: 1110px !important;
  }
  .intro .longImg{
    height: 1080px;
    width: 555px;
  }
  .shoppingItem{
    height: 540px;
    object-fit:cover;
  }
  .shoppingItem p{
    line-height: 540px;
  }
  .mask{
    background-color: rgba(0, 0, 0, .3); 
    width: calc(100% - 12px);
  }

  // .shopping > div > div{
  //   display: grid;
  // }
}
